.navigation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: lightblue;
}

.navigation > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navigation-logo{
    display: flex;
    align-items: center;
    background: white;
    margin: 1%;
    padding: 3%;
    border-radius: 50%;
}

.content{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;
}

.containerJoke{
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    background: lightgrey;
    border-radius: 15px;
}

.containerJoke p{
    font-size: 25px;
    color: grey;
}

.containerJoke > section{
    width: 70vb;
    height: 7vh;
    margin: 20px 0px 30px 30px;
}

.containerJoke button{
    width: 20vb;
    margin-left: 5vb;
}

.color{
    background: green;
    color:white;
}

button{
    font-size: 25px;
}


.footer{
    display: flex;
    height: 3vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    background: #5483e8;
    width: 100vb;
}

.footer p{
    color: white;
}
