.containerJoke{
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    background: lightgrey;
    border-radius: 15px;
    /* overflow-x: auto; */
}

.containerJoke > section{
    width: 70vb;
    height: 7vh;
    padding-top: 20px;
    margin: 20px 0px 30px 30px;
}

.containerJoke button{
    width: 10vb;
}

.containerJoke button-joke-favorizer{
    width: 10vb;
    margin-right: 20px;
}

.color{
    background: green;
    color:white;
}